<script>
    localStorage.setItem("DataVersion",6);
    localStorage.setItem("uni",parseInt(localStorage.getItem("uni"))-1);
    var t=0,data={},array=["uni","cls","alpha","slut","sissy","couple","item","onitem","buff-oral:","buff-anal","buff-waterb","buff-watera","buff-moneyin","buff-moneyout","buff-enforce","buff-fuck","buff-again","again","heart"];
        while(t<array.length){
            if(localStorage.getItem(array[t])){
                data[array[t]]=localStorage.getItem(array[t]);
            }
            t+=1;
        }
    data["ver"]="MeowVer2"

    document.write("数据导出");
    document.write( ' <textarea>'+JSON.stringify(data)+'</textarea>');
    </script>
    <h1>喵喵系统数据升级5->6</h1>
    <h1>请注意，我们即将更改地址,访问https://acted.gitlab.io获取更多信息。请使用数据导出服务导出到新地址</h1>
    <a href="https://acted.gitlab.io">获取更多信息</a>
    <a href="../">好的</a>